

<div class="col-4 d-flex justify-content-end align-items-center">
    @if (User.Identity.IsAuthenticated)
    {
        <a class="nav-link text-dark" >@User.Identity.Name</a>
        <form class="form-inline" asp-controller="Accounts" asp-action="Logout">
            <button type="submit" class="btn btn-sm btn-outline-secondary">Выйти</button>
        </form>
    }
    else
    {
        <a class="btn btn-sm btn-outline-secondary" asp-controller="Accounts" asp-action="Login">Войти</a>
    }
</div>
